---
layout: games
---

<h2>
  <img src="/img/games/fliponecolor/icon.png" />
  <a href="https://itunes.apple.com/us/app/flip-one-color/id993434656">Flip One Color</a>
</h2>
<div class="row">
  {% for i in (1..1) %}
    <div class="col-md-3">
      <p><img src="/img/games/fliponecolor/{{ i }}.png" class="img-responsive" /></p>
    </div>
  {% endfor %}
</div>

<hr>

<h2>
  <img src="/img/games/tetloop/icon.png" />
  <a href="https://itunes.apple.com/us/app/tetloop/id916468176">Tetloop</a>
</h2>
<div class="row">
  {% for i in (1..2) %}
    <div class="col-md-3">
      <p><img src="/img/games/tetloop/{{ i }}.png" class="img-responsive" /></p>
    </div>
  {% endfor %}
</div>

<hr>

{% include comment.html %}
