{% if site.safe %}
<div class="sj-ad">
  <script type="text/javascript"><!--
    google_ad_client = "ca-pub-7033544542206385";
    /* SpriteKit.jp サイドバートップ */
    google_ad_slot = "8953727653";
    google_ad_width = 200;
    google_ad_height = 200;
    //-->
  </script>
  <script type="text/javascript"
    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>

  <table cellpadding="0" cellspacing="0" border="0" style=" border-style: none; width:170px;"><tr style="border-style:none;"><td style="vertical-align:top; border-style:none; padding:10px 10px 0pt;"><a href="http://px.a8.net/svt/ejp?a8mat=1NWF4Y+EFRIZ6+249K+BWGDT&a8ejpredirect=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F479804055X%2F%3Ftag%3Da8-affi-205969-22" target="_blank"><img border="0" alt="" src="http://ecx.images-amazon.com/images/I/516VQ+xxWGL._SS160_.jpg" /></a></td></tr><tr style="border-style:none;"><td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p style="padding:0; margin:0;"><a href="http://px.a8.net/svt/ejp?a8mat=1NWF4Y+EFRIZ6+249K+BWGDT&a8ejpredirect=http%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F479804055X%2F%3Ftag%3Da8-affi-205969-22" target="_blank">Sprite Kit iPhone 2Dゲームプログラミング</a></p></td></tr></table>
  <img border="0" width="1" height="1" src="http://www11.a8.net/0.gif?a8mat=1NWF4Y+EFRIZ6+249K+BWGDT" alt="">
</div>
{% endif %}
