{% if site.safe %}
<ul class="list-unstyled sj-share">
  <li><div class="fb-like" data-href="http://spritekit.jp/" data-layout="button_count" data-show-faces="false" data-send="false"></div>
  <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://spritekit.jp/">Tweet</a>
  <li><div class="g-plusone" data-size="medium" data-href="http://spritekit.jp/"></div>
  <li><a href="http://b.hatena.ne.jp/entry/spitekit.jp" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
  <li><a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en" data-save-url="http://spritekit.jp"></a>
  <li><iframe src="https://ghbtns.com/github-btn.html?user=tnantoka&repo=spritekit.jp&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
</ul>
{% endif %}
