---
layout: blog
---
<div class="sj-content">
  <h1>{{ page.title }}</h1>
  <ul class="list-inline">
    {% if page.author %}
      <li>{% include author.html name=page.author %}</li>
    {% endif %}
    <li>{{ page.date | date: "%Y年%m月%d日" }}</li>
  </ul>
  {{ content }}
  <p class="text-right">
    <small><a href="{{ site.repo_url }}/commits/gh-pages/{{ page.path }}" target="_blank">編集履歴</a></small>
  </p>
  {% unless page.close_comment %}
    <hr />
    {% include comment.html %}
  {% endunless %}
</div>
