---
layout: default
type: tutorial
---

{% unless site.epub %}
<div class="col-md-9 col-md-push-3 js_contents">
{% else %}
<div>
{% endunless %}
  {% if site.tutorial[page.title] %}
    <div class="sj-content">
      <h1>{{ site.tutorial[page.title] }}</h1>
      <ul class="list-inline">
        {% if page.author %}<li>{% include author.html name=page.author %}</li>{% endif %}
        {% if page.date %}<li>{{ page.date | date: "%Y年%m月%d日" }}</li>{% endif %}
      </ul>
      {{ content }}          
      <ul class="list-inline text-right">
        {% unless page.without_source %}
          <li><small><a href="https://github.com/tnantoka/sj-tutorial-apps/tree/master/SJ{{ page.title | capitalize }}" target="_blank">ソースコード</a></small></li>
        {% endunless %}
        <li><small><a href="{{ site.repo_url }}/commits/gh-pages/{{ page.path }}" target="_blank">編集履歴</a></small></li>
      </ul>
      {% unless page.close_comment %}
        <hr />
        {% include comment.html %}
      {% endunless %}
    </div>
  {% endif %}
</div>
{% unless site.epub %}
<div class="col-md-3 col-md-pull-9 sj-tutorial">
  <div class="bs-sidebar sj-sidebar">
    <p class="sj-donation">
      <a href="https://gum.co/sj-tutorial" class="gumroad-button">EPUB版</a>
    </p>
    <ul class="nav bs-sidenav">    
      {% for chapter in site.tutorial %}
        <li class="{% if page.url contains chapter[0] %}active{% endif %}">
          <a href="/tutorial/{{ chapter[0] }}/">{{ chapter[1] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include ad.html %}
  {% include share.html %}
</div>
{% endunless %}
